html, body {
  height: 100%;
  width: 100%;
}
#countLabel{
    display: block;
    text-align: center;
    font-size: 50px;
}
.bg {
  background-color: #355464;
  height: 700px;
  font-family: 'Kanit', sans-serif;
}